<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
    <link rel="icon" href="../static/img/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    {% include '_navbar.html' %}
    <div class="tm-page-wrap mx-auto">
        <section class="tm-slideshow-section">
                <div class="tm-slideshow">
                    <img id="img1" src="" alt="Image">   
                </div>
                <div class="tm-slideshow-description tm-bg-primary">
                    <h2 id="location-name"></h2>
                    <p id="location-description"></p>
                </div>               
        </section>
        <section class="tm-slideshow-section">
            <div class="tm-slideshow">
                <img id="img2" src="" alt="Image">
            </div>
            <div class="tm-slideshow-description tm-bg-primary">
                <p>GRAPH</p>
            </div>
        </section>
        <section class="tm-slideshow-section">
            <div class="tm-slideshow">
                <img id="img3" src="" alt="Image">
            </div>
            <div class="tm-slideshow-description tm-bg-primary">
                <div class="row tm-banner-row" id="tm-section-search">
                    <h1>Booking:</h1>
                    <form action="{{ url_for('destination') }}" method="POST" class="tm-search-form tm-section-pad-2">
                        <div class="form-row tm-search-form-row">                                
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                                <label for="inputCity">Chosen Destination</label>
                                <input name="destination" type="text" class="form-control" id="inputCity" placeholder="Type your destination...">
                            </div>
                            <div class="form-group tm-form-group tm-form-group-1">                                    
                                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                    <label for="inputRoom">Accommodation type</label>
                                    <select name="accommodation" class="form-control tm-select" id="inputAccommodation">
                                            <option value="None" selected>None</option>
                                            <option value="Hotel">Hotel</option>
                                            <option value="Hostel">Hostel</option>
                                            <option value="Airbnb">Airbnb</option>
                                            <option value="Villa">Villa</option>
                                            <option value="Resort">Resort</option>
                                    </select>                                        
                                </div>
                                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                    <label for="inputRoom">Transportation type</label>
                                    <select name="transport" class="form-control tm-select" id="inputTransport">
                                        <option value="None" selected>None</option>
                                        <option value="Bus">Bus</option>
                                        <option value="Train">Train</option>
                                        <option value="Plane">Plane</option>
                                        <option value="Car rental">Car rental</option>
                                    </select>                                        
                                </div>
                            </div>
                        </div> 
                        <div class="form-row tm-search-form-row">

                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                <label for="inputCheckIn">Check In Date</label>
                                <input name="check-in" type="text" class="form-control" id="inputCheckIn" placeholder="Check In" required>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                <label for="inputCheckOut">Check Out Date</label>
                                <input name="check-out" type="text" class="form-control" id="inputCheckOut" placeholder="Check Out" required>
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                <label for="inputDays">Number of Days</label>
                                <input type="text" class="form-control" id="inputDays" readonly placeholder="0">
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                                <label for="inputCost">Cost:</label>
                                <input type="text" class="form-control" id="inputCost" readonly >
                            </div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3"></div>
                            <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                                <label for="btnSubmit">&nbsp;</label>
                                {% if 'user_email' in session %}
                                    <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">Book now</button>
                                {% else %}
                                    <button type="button" class="btn btn-primary tm-btn tm-btn-search text-uppercase" onclick="alert('Please log in to book!')">
                                        Please log in to book
                                </button>
                                {% endif %}
                            </div>
                        </div>                              
                    </form>                               
                </div>
            </div>
        </section>
    </div>
    <footer class="tm-container-outer">
        <p>Copyright © 2025 VETRAVEL. Design inspired by TemplateMo.</p>
    </footer>    
    {% include 'modals.html' %}               
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/destination.js"></script>
    <script src="../static/js/modal.js"></script>
</script>
</body>
</html>