<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinations</title>
    <link rel="icon" href="../static/img/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css"> 
</head>
<body>
    {% include '_navbar.html' %} 
    <div class="tm-container-outer" id="tm-section-3">
        <ul class="nav nav-pills tm-tabs-links">
            <li class="tm-tab-link-li">
                <a href="#1a" data-toggle="tab" class="tm-tab-link">
                    <img src="../static/img/north-america.png" alt="Image" class="img-fluid">
                        North America
                </a>
            </li>
            <li class="tm-tab-link-li">
                <a href="#2a" data-toggle="tab" class="tm-tab-link">
                    <img src="../static/img/south-america.png" alt="Image" class="img-fluid">
                        South America
                </a>
            </li>
            <li class="tm-tab-link-li">
                <a href="#3a" data-toggle="tab" class="tm-tab-link">
                    <img src="../static/img/europe.png" alt="Image" class="img-fluid">
                        Europe
                </a>
            </li>
            <li class="tm-tab-link-li">
                <a href="#4a" data-toggle="tab" class="tm-tab-link active"><!-- Current Active Tab -->
                    <img src="../static/img/asia.png" alt="Image" class="img-fluid">
                        Asia
                </a>
            </li>
            <li class="tm-tab-link-li">
                <a href="#5a" data-toggle="tab" class="tm-tab-link">
                    <img src="../static/img/africa.png" alt="Image" class="img-fluid">
                        Africa
                </a>
            </li>
            <li class="tm-tab-link-li">
                <a href="#6a" data-toggle="tab" class="tm-tab-link">
                    <img src="../static/img/australia.png" alt="Image" class="img-fluid">
                        Australia
                </a>
            </li>
            <li class="tm-tab-link-li">
                <a href="#7a" data-toggle="tab" class="tm-tab-link">
                    <img src="../static/img/antartica.png" alt="Image" class="img-fluid">
                        Antartica
                </a>
            </li>
        </ul>
        <div class="tab-content clearfix">
            <!-- Tab 1 -->
            <div class="tab-pane fade" id="1a">
                <div class="tm-recommended-place-wrap">
                    {% for d in destinations %}
                        {% if d.continent == 'North America' %}
                            <div class="tm-recommended-place">
                                <img src="{{ url_for('static', filename='img/' + d.image1) }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ d.name }}</h3>
                                    <p class="tm-text-highlight">{{ d.place }}</p>
                                    <p class="tm-text-gray">{{ d.short_description }}</p>   
                                </div>
                                <a href="{{ url_for('destination', place=d.url_name) }}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">${{ d.service_price }}</p>
                                    <p class="tm-recommended-price-link">Continue Reading</p>
                                </a>                        
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>                        
            </div>
            
            <!-- Tab 2 -->
            <div class="tab-pane fade" id="2a">
                <div class="tm-recommended-place-wrap">
                    {% for d in destinations %}
                        {% if d.continent == 'South America' %}
                            <div class="tm-recommended-place">
                                <img src="{{ url_for('static', filename='img/' + d.image1) }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ d.name }}</h3>
                                    <p class="tm-text-highlight">{{ d.place }}</p>
                                    <p class="tm-text-gray">{{ d.short_description }}</p>   
                                </div>
                                <a href="{{ url_for('destination', place=d.url_name) }}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">${{ d.service_price }}</p>
                                    <p class="tm-recommended-price-link">Continue Reading</p>
                                </a>                        
                            </div>
                        {% endif %}
                    {% endfor %}  
                </div>                        
            </div>         
            
            <!-- Tab 3 -->     
            <div class="tab-pane fade" id="3a">
                <div class="tm-recommended-place-wrap">
                    {% for d in destinations %}
                        {% if d.continent == 'Europe' %}
                            <div class="tm-recommended-place">
                                <img src="{{ url_for('static', filename='img/' + d.image1) }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ d.name }}</h3>
                                    <p class="tm-text-highlight">{{ d.place }}</p>
                                    <p class="tm-text-gray">{{ d.short_description }}</p>   
                                </div>
                                <a href="{{ url_for('destination', place=d.url_name) }}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">${{ d.service_price }}</p>
                                    <p class="tm-recommended-price-link">Continue Reading</p>
                                </a>                        
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>                        
            </div>
            
            <!-- Tab 4 -->
            <div class="tab-pane fade show active" id="4a">
                <div class="tm-recommended-place-wrap">
                    {% for d in destinations %}
                        {% if d.continent == 'Asia' %}
                            <div class="tm-recommended-place">
                                <img src="{{ url_for('static', filename='img/' + d.image1) }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ d.name }}</h3>
                                    <p class="tm-text-highlight">{{ d.place }}</p>
                                    <p class="tm-text-gray">{{ d.short_description }}</p>   
                                </div>
                                <a href="{{ url_for('destination', place=d.url_name) }}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">${{ d.service_price }}</p>
                                    <p class="tm-recommended-price-link">Continue Reading</p>
                                </a>                        
                            </div>
                        {% endif %}
                    {% endfor %}   
                </div>                        
            </div>
            
            <!-- Tab 5 -->
            <div class="tab-pane fade" id="5a">
                <div class="tm-recommended-place-wrap">
                    {% for d in destinations %}
                        {% if d.continent == 'Africa' %}
                            <div class="tm-recommended-place">
                                <img src="{{ url_for('static', filename='img/' + d.image1) }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ d.name }}</h3>
                                    <p class="tm-text-highlight">{{ d.place }}</p>
                                    <p class="tm-text-gray">{{ d.short_description }}</p>   
                                </div>
                                <a href="{{ url_for('destination', place=d.url_name) }}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">${{ d.service_price }}</p>
                                    <p class="tm-recommended-price-link">Continue Reading</p>
                                </a>                        
                            </div>
                        {% endif %}
                    {% endfor %}    
                </div>                        
            </div>  
            
            <!-- Tab 6 -->            
            <div class="tab-pane fade" id="6a">
                <div class="tm-recommended-place-wrap">
                    {% for d in destinations %}
                        {% if d.continent == 'Australia' %}
                            <div class="tm-recommended-place">
                                <img src="{{ url_for('static', filename='img/' + d.image1) }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ d.name }}</h3>
                                    <p class="tm-text-highlight">{{ d.place }}</p>
                                    <p class="tm-text-gray">{{ d.short_description }}</p>   
                                </div>
                                <a href="{{ url_for('destination', place=d.url_name) }}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">${{ d.service_price }}</p>
                                    <p class="tm-recommended-price-link">Continue Reading</p>
                                </a>                        
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>                        
            </div>
                    
            <!-- Tab 7 -->
            <div class="tab-pane fade" id="7a">
                <div class="tm-recommended-place-wrap">
                    {% for d in destinations %}
                        {% if d.continent == 'Antartica' %}
                            <div class="tm-recommended-place">
                                <img src="{{ url_for('static', filename='img/' + d.image1) }}" alt="Image" class="img-fluid tm-recommended-img">
                                <div class="tm-recommended-description-box">
                                    <h3 class="tm-recommended-title">{{ d.name }}</h3>
                                    <p class="tm-text-highlight">{{ d.place }}</p>
                                    <p class="tm-text-gray">{{ d.short_description }}</p>   
                                </div>
                                <a href="{{ url_for('destination', place=d.url_name) }}" class="tm-recommended-price-box">
                                    <p class="tm-recommended-price">${{ d.service_price }}</p>
                                    <p class="tm-recommended-price-link">Continue Reading</p>
                                </a>                        
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>                        
            </div>
        </div>
    </div>
    <footer class="tm-container-outer">
        <p>Copyright © 2025 VETRAVEL. Design inspired by TemplateMo.</p>
    </footer>
    {% include 'modals.html' %}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>   
    <script src="../static/js/modal.js"></script>
</body>
</html>