<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphs</title>
    <link rel="icon" href="../static/img/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    {% include '_navbar.html' %}
    <div class="tm-page-wrap mx-auto">
        <nav class="navbar navbar-expand-lg navbar-light tm-bg-gray rounded">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{{ url_for('control') }}">Dashboard</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{{ url_for('dest_view') }}">Destinations</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active" href="#">Graphs</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{{ url_for('users') }}">Users</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{{ url_for('messages') }}">Messages</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{{ url_for('bookings') }}">Bookings</a>
                </li>
            </ul>
        </nav>
        <div class="container mt-5 pb-5">
            <h2 class="text-center mb-4">Graphs</h2>
            <div class="mb-4 d-flex justify-content-center">
                <select id="chart-search" class="form-control w-50 mx-auto">
                    <option disabled selected>Jump to a chart...</option>
                    <option value="top-dest">Top Destinations</option>
                    <option value="service-cost">Service Cost for Destinations</option>
                    <option value="total-earnings">Total Earnings for company</option>
                    <option value="age-group">Age Group of Customers</option>
                    <option value="male-female-dest">Male-Female Comparison per Location</option>
                    <option value="trav-nationality">Customers nationalities</option>
                    <option value="top-travelers">Top Travelers</option>
                    <option value="total-accommodation">Total Accommodation Spending</option>
                    <option value="total-transportation">Total Transport Spending</option>
                    <option value="total-cost-spent">Total Cost Spent</option>
                    <option value="avg-total-cost-spent">Average Cost per Person</option>
                    <option value="min-total-cost-spent">Minimum Cost per Location</option>
                    <option value="monthly-trends">Monthly Trends</option>
                    <option value="monthly-total-cost">Monthly Total Cost</option>
                </select>
            </div>
            <div class="chart-shadow-box" id="top-dest">
                {{ top_dest_chart|safe }}    
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="chart-shadow-box" id="service-cost">
                        {{ service_cost_chart|safe }}
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="chart-shadow-box" id="total-earnings">
                        {{ total_earnings|safe }}
                    </div>
                </div>
            </div>
            <a href="#"><div class="line-break mb-4"></div></a>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="chart-shadow-box" id="age-group">
                        {{ age_group|safe }}
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="chart-shadow-box" id="male-female-dest">
                        {{ male_female_dest|safe }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="chart-shadow-box" id="trav-nationality">
                        {{ trav_nationality|safe }}
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="chart-shadow-box" id="top-travelers">
                        {{ top_travelers|safe }}
                    </div>
                </div>
            </div>
            <a href="#"><div class="line-break mb-4"></div></a>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="chart-shadow-box" id="total-accommodation">
                        {{ total_accommodation|safe }}
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="chart-shadow-box" id="total-transportation">
                        {{ total_transportation|safe }}
                    </div>
                </div>
            </div>
            <div class="chart-shadow-box" id="total-cost-spent">
                  {{ total_cost_spent|safe }}
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="chart-shadow-box" id="avg-total-cost-spent">
                        {{ avg_total_cost_spent|safe }}
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="chart-shadow-box" id="min-total-cost-spent">
                        {{ min_total_cost_spent|safe }}
                    </div>
                </div>
            </div>
            <a href="#"><div class="line-break mb-4"></div></a>
            <div class="chart-shadow-box" id="monthly-trends">
                <form method="POST" action="{{ url_for('graphs') }}#monthly-trends" class="mb-4" id="chart-form">
                    <label for="destination">Monthly Trends for : (Select Destination)</label>
                    <select name="destination" class="form-control" required>
                        <option value="disabled selected">Pick Destination</option>
                        {% for dest in destinations %}
                            <option value="{{ dest }}">{{ dest }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary mt-2">Generate Chart</button>
                </form>
                <div class="chart-shadow-box">
                    {{ monthly_trend_dest|safe }}
                </div>
            </div>
            <div class="chart-shadow-box" id="monthly-total-cost">
                <form method="POST" action="{{ url_for('graphs') }}#monthly-total-cost" class="mb-4" id="chart-form">
                    <label for="destination2">Monthly Total Cost for: (Select Destination)</label>
                    <select name="destination2" class="form-control" required>
                        <option value="disabled selected">Pick Destination</option>
                        {% for dest in destinations %}
                            <option value="{{ dest }}">{{ dest }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary mt-2">Generate Chart</button>
                </form>
                <div class="chart-shadow-box">
                    {{ monthly_total_cost|safe }}
                </div>
            </div>
            <a href="#"><div class="line-break mb-4"></div></a>
        </div>
    </div>
    <footer class="tm-container-outer">
            <p>Copyright © 2025 VETRAVEL. Design inspired by TemplateMo.</p>
    </footer>
    {% include 'modals.html' %}
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <script src="../static/js/modal.js"></script>
    <script src="../static/js/graphs.js"></script>
</body>
</html>