<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VeTravel</title>
    <link rel="icon" href="../static/img/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- 
    INSPIRED BY: Journey Template 
    http://www.templatemo.com/tm-511-journey
    -->
</head>
<body>
    <div class="tm-main-content" id="top">
        <div class="tm-top-bar-bg"></div>    
        <div class="tm-top-bar" id="tm-top-bar">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg narbar-light">
                        <a class="navbar-brand mr-auto" href="index.html">
                            <img src="../static/img/logo.png" alt="Site logo">
                            VeTravel
                        </a>
                        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                            <ul class="navbar-nav ml-auto">
                              <li class="nav-item">
                                <a class="nav-link active" href="#top">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="destinations.html">Destinations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                     </div>                            
                </nav>
            </div>
        </div>
    </div>
    <div class="tm-page-wrap mx-auto">
        <section class="tm-banner">
            <div class="tm-container-outer tm-banner-bg">
                <div class="container">
                    <div class="row tm-banner-row tm-banner-row-header">
                        <div class="col-xs-12">
                            <div class="tm-banner-header"><br><br><br><br><br><br><br><br>
                                <img src="../static/img/dots-3.png" alt="Dots">
                                <h1 class="text-uppercase tm-banner-title">Let's begin</h1>
                                <img src="../static/img/dots-3.png" alt="Dots">
                                <p class="tm-banner-subtitle">We assist you to choose the best.</p> 
                                <img src="../static/img/dots-3.png" alt="Dots">     
                            </div>    
                        </div>                   
                    </div>
                    <div class="tm-banner-overlay"></div>
                </div>                  
            </div>                
        </section>
        <section class="p-5 tm-container-outer tm-bg-gray">            
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">                        
                        <h2 class="text-uppercase mb-4">Your <strong>Journey</strong> is our priority</h2>
                        <p class="mb-4">VETRAVEL is your gateway to discovering the world with ease, comfort, and confidence. Whether you're looking for a quiet getaway, a cultural adventure, or a business trip made simple — we're here to help you explore.</p>
                        <p class="mb-4">Below you can explore some of our top travel destinations from Europe, North America, and Asia — carefully selected to inspire your next adventure.</p>                             
                    </div>
                </div>
            </div>            
        </section>
        <div class="tm-container-outer" id="tm-section-2">
            <section class="tm-slideshow-section">
                <div class="tm-slideshow">
                    <img src="../static/img/tm-img-01.jpg" alt="Image">
                    <img src="../static/img/tm-img-02.jpg" alt="Image">
                    <img src="../static/img/tm-img-03.jpg" alt="Image">    
                </div>
                <div class="tm-slideshow-description tm-bg-primary">
                    <h2 class="">Europe's most visited places</h2>
                    <p>Discover the timeless charm of Europe through its most visited destinations. From historic landmarks to vibrant cities, Europe offers a rich blend of culture, beauty, and unforgettable experiences. Let these highlights guide your travel inspiration.</p>
                    <a href="#" class="text-uppercase tm-btn tm-btn-white tm-btn-white-primary">Continue Reading</a>
                </div>
            </section>
            <section class="clearfix tm-slideshow-section tm-slideshow-section-reverse">
                <div class="tm-right tm-slideshow tm-slideshow-highlight">
                    <img src="../static/img/tm-img-02.jpg" alt="Image">
                    <img src="../static/img/tm-img-03.jpg" alt="Image">
                    <img src="../static/img/tm-img-01.jpg" alt="Image">
                </div> 
                <div class="tm-slideshow-description tm-slideshow-description-left tm-bg-highlight">
                    <h2 class="">Asia's most popular places</h2>
                    <p>Asia captivates travelers with its rich history, vibrant cities, and stunning landscapes. Explore ancient temples, bustling markets, and serene beaches — from Japan and China to Thailand and beyond, Asia’s top destinations are as diverse as they are inspiring.</p>
                    <a href="#" class="text-uppercase tm-btn tm-btn-white tm-btn-white-highlight">Continue Reading</a>
                </div>                        
            </section>
            <section class="tm-slideshow-section">
                <div class="tm-slideshow">
                    <img src="../static/img/tm-img-03.jpg" alt="Image">
                    <img src="../static/img/tm-img-02.jpg" alt="Image">
                    <img src="../static/img/tm-img-01.jpg" alt="Image">
                </div>
                <div class="tm-slideshow-description tm-bg-primary">
                    <h2 class="">America's most famous places</h2>
                    <p>From the dazzling cities to breathtaking natural wonders, North America offers a diverse array of destinations. Whether you're drawn to the vibrant culture of the U.S., the scenic beauty of Canada, or the tropical warmth of Mexico, these popular spots promise unforgettable adventures.</p>
                    <a href="#" class="text-uppercase tm-btn tm-btn-white tm-btn-white-primary">Continue Reading</a>
                </div>
            </section>
        </div>        
    </div>
    <footer class="tm-container-outer">
            <p>Copyright © 2025 VETRAVEL. Design inspired by TemplateMo.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>